<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head />
<h:body>
	<div id="cabecalho">
		<h:graphicImage library="img" name="logo.png" />

		<h:outputText value="#{sessionScope['usuario'].email}" />
		
		<h:form rendered="#{usuarioLogado != null}">
			<p:themeSwitcher value="#{temaBean.tema}"
				style="position: absolute; right: 10px;">
				<f:selectItems value="#{temaBean.temas}" />
				<f:ajax/>
			</p:themeSwitcher>
		</h:form>

		<p:growl id="growl" showDetail="true" autoUpdate="true" />

		<h:form rendered="#{usuarioLogado != null}">
			<p:menuButton value="Menu">
				<p:menuitem value="Autores" action="autor?faces-redirect=true" icon="ui-icon-pencil"/>
				<p:menuitem value="Livros" action="livro?faces-redirect=true" icon="ui-icon-pencil"/>
				<p:menuitem value="Vendas" action="vendas?faces-redirect=true" icon="ui-icon-image"/>
				<p:separator />
				<p:menuitem value="logout" action="#{loginBean.deslogar}" icon="ui-icon-signout"/>
			</p:menuButton>
		</h:form>
		<h1>
			<ui:insert name="titulo"></ui:insert>
		</h1>
	</div>

	<div id="conteudo">
		<ui:insert name="conteudo"></ui:insert>
	</div>

</h:body>
</html>