<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="_template.xhtml">

	<f:metadata>
		<f:viewParam name="autorId" value="#{autorBean.autor.id}"></f:viewParam>
		<f:viewAction action="#{autorBean.carregaPorId}" if="#{param.autorId != null}"></f:viewAction>
	</f:metadata>

	<ui:define name="titulo">
		<p:outputPanel>Novo Autor</p:outputPanel>
	</ui:define>
	<ui:define name="conteudo">
		<h:form>
			<p:fieldset legend="Dados do Autor">
				<h:panelGrid columns="3">
					<p:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{autorBean.autor.nome}" validatorMessage="Nome com menos de 5 catacteres" required="true" >
						<f:validateLength minimum="5"/>
						<f:ajax event="blur" render="messageNome"/>
					</p:inputText>
					<p:message for="nome" id="messageNome"/>
					<p:outputLabel value="Email:" for="email" />
					<p:inputText id="email" value="#{autorBean.autor.email}" validatorMessage="Email invalido"> 
						<f:attribute name="type" value="email"/>
						<f:passThroughAttribute name="type" value="Email do autor"></f:passThroughAttribute>
						<f:validateRegex pattern=".+@.+"></f:validateRegex>
						<f:ajax event="blur" render="messageEmail"/>
					</p:inputText>
					<p:message for="email" id="messageEmail"/>
					<p:commandButton value="Gravar" action="#{autorBean.gravar}" process="@form" update="@form :formTabelaAutores"/>
				</h:panelGrid>
			</p:fieldset>
		</h:form>

		<h:form id="formTabelaAutores">	
		  <p:dataList value="#{autorBean.autores}" var="autor" type="definition">
		  	<f:facet name="header">Autores</f:facet>
			<h:commandLink styleClass="ui-icon ui-icon-pencil" style="float:left;margin-right:10px" action="#{autorBean.carregar(autor)}"></h:commandLink>
			<h:commandLink styleClass="ui-icon ui-icon-trash" style="float:left;margin-right:10px" action="#{autorBean.remover(autor)}" update="@form"></h:commandLink>	
		  	#{autor.nome} - #{autor.email}
		  </p:dataList>	
		</h:form>
		
	</ui:define>
</ui:composition>

</html>